<div class="col-sm-12 reset-password-wrapper d-flex justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-4">
        <div class="card w-100">
            <div class="card-block">
                <form class="k-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

                    <fieldset>
                        <legend>Reset Password</legend>
                        <label class="k-form-field">
                            <span>Old Password <span class="k-required">*</span></span>
                            <input type="password" class="k-textbox" formControlName="oldPassword" placeholder="Old Password"/>
                            <!-- <error-label [error]="getErrorMessage('oldPassword')"></error-label>                             -->
                        </label>
                        <label class="k-form-field">
                            <span>New Password <span class="k-required">*</span></span>
                            <input type="password" class="k-textbox" formControlName="newPassword" [(ngModel)]="newPassword" placeholder="New Password"/>
                            <error-label [error]="getErrorMessage('newPassword')"></error-label>
                        </label>
                        <label class="k-form-field">
                            <span>Confirm Password <span class="k-required">*</span></span>
                            <input type="password" class="k-textbox" formControlName="confirmPassword" placeholder="Confirm Password"/>
                            <error-label [error]="getErrorMessage('confirmPassword')"></error-label>                            
                        </label>
                        <ng2-password-strength-bar
                            [passwordToCheck]="newPassword"
                            [barLabel]="barLabel"
                            [barColors]="myColors">
                        </ng2-password-strength-bar>
                    </fieldset>

                    <div class="text-right">
                      <button [disabled]="!resetForm.valid || !isValidForm" type="submit" class="k-button k-primary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<alert-message *ngIf="alertMessage" [message]="alertMessage"></alert-message>