<div class="col-sm-12 login-wrapper d-flex justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-4">
        <div class="card w-100">
            <div class="card-block">
                <form class="k-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <fieldset>
                        <legend>Login</legend>
                        <label class="k-form-field">
                            <span>Email <span class="k-required">*</span></span>
                            <input type="email" class="k-textbox" formControlName="email" placeholder="Email Address" />
                            <error-label [error]="getErrorMessage('email')"></error-label>                            
                        </label>
                        <label class="k-form-field">
                            <span>Password <span class="k-required">*</span></span>
                            <input type="password" class="k-textbox" formControlName="password" placeholder="Password"/>
                            <error-label [error]="getErrorMessage('password')"></error-label>                            
                        </label>
                        <div class="d-flex justify-content-between align-items-center">
                          <label class="k-form-field d-inline-block mb-0">
                              <input type="checkbox" id="remember" class="k-checkbox">
                              <label class="k-checkbox-label" for="remember"> Remember me</label>
                          </label>
                          <a routerLink="/register" class="float-right">Create Account</a>
                        </div>
                    </fieldset>

                    <div class="text-right">
                      <button [disabled]="!loginForm.valid || !isValidForm" type="submit" class="k-button k-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<alert-message *ngIf="alertMessage" [message]="alertMessage"></alert-message>